root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

[*.{c,cc,cpp,cc,hpp,hh,h,cu}]
indent_style = space
indent_size = 4

[*.zig]
indent_size = 4
indent_style = space

[*.{astro,ts,tsx}]
indent_style = space
indent_size = 4

[*.rust]
indent_size = 4
indent_style = space

