target
**/*.pem
**/.idea
zig-out
zig-cache
Cargo.lock
.env
node_modules
**/yarn.lock
**/.pnpm-debug.log
pnpm-lock.yaml
**/.vscode
debug-log
build
.xmake
.ccls-cache
prebuilt
cpp/third_party/bin/**/*
cpp/third_party/lib/**/*
